
:root {
    --color-darkcyan: #156fb0;
    --color-white: #ffffff;
    --color-black: #000000;
    --color-midnightblue: #0e416f;
    --color-whitesmoke: #eeeeee;
}
*{
    padding: 0px;
    margin: 0px;
    font-family: 'Roboto', sans-serif;
    list-style: none;
    
}

body {
    background: var(--color-whitesmoke);
}
/* Seção home */
#home {
    background: var(--color-darkcyan);
    height: 250px;
}

#nav-bar {
    background: var(--color-midnightblue);
    display: flex;
    height: 30px;
    justify-content: flex-end;
    align-items: center;

}

#calendar-icon {
    width: 20px;
    height: 20px;
}

#current-date {
    color: var(--color-white);
    margin-left: 10px;
    margin-right: 30px;
}

#home-content {
    display: flex;
    flex-direction: column;

}

#logo {
    font-size: 4.0em;
    color: var(--color-white);
    margin: 40px auto 20px auto;

}

#form-weather {
    max-width: 340px;
    margin: 0 auto;
}

textarea:focus, input:focus {
    box-shadow: 0 0 0 0;
    outline: 0;
    
}

#search-name {
    background: var(--color-darkcyan);
    height: 40px;
    width: 150px;
    padding: 0px 12px 0px 12px;
    border-color: var(--color-black);
    border-radius: 5px;
    border-style: dashed;
    border-width: 2px;
    color: var(--color-white);

}

#submit-button {
    background: var(--color-darkcyan);
    color: var( --color-white);
    height: 44px;
    padding: 0px 12px 0px 12px;
    border-style: solid;
    border-color: var(--color-black);
    border-radius: 5px;

    
}

#search-name::placeholder {
    color: var(--color-white);
}


#submit {
    border-width: 2px;
    margin-left: 10px;
}

/* box de cidades */

#search-content {
    max-width: 1100px;
    margin: 40px auto 40px;
}

 #cities{ 
     display: grid;
     grid-gap: 32px 20px;
     grid-template-columns: repeat(4, 1fr);
 }

 .city{
    padding: 40px 10%;
    border-radius: 20px;
    background-color: white;
 }
  .country{
    font-size: 0.5em;
    background: orange;
    padding: 0.2em 0.6em;
    border-radius: 30px;
    vertical-align: super;
 }
 .City-temp{
    
    font-size: 2.5em;
    letter-spacing: 0.05em;
    font-weight: 900;
 }

 .celcius{
    font-size: 1.5em;
 }

